<div class="container signin">
  <div class="row">
    <div class="span12">
      <div class="terrible_form">
        <h2>Add Your Team.</h2>
        <%= form_for @team, remote: true do |f| %>

          <%= f.text_field :name, :placeholder => "Team Name", autofocus: true %>
          <br>
          <%= f.text_area :description, :placeholder => "Description hipster ipsum yolo sit amet" %>
          <br>
          <%= f.text_field :website, :placeholder => "Website" %>
          <br>

          <%= f.submit("Create Team", :class => "btn btn-success new-project-btn") %>

        <% end %>
      </div>

    </div>
  </div>
</div>
