<div class="container">
  <div class="row">
    <div class="span12">
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% end %>
      <% @users.each do |user| %>
        <span class="gravatar-small"><%= user.gravatar_small %></span>
      <% end %>
      <%= form_for @team, remote: true do |f| %>
        <%= f.text_field :name, placeholder: "Name", :class => "edit-team" %>
      <% end %>
      <%= link_to "Invite Collaborator", new_team_membership_path(team: @team), :class => 'btn btn-primary collaborator-btn',remote: true %>
      <%= link_to "New Project", new_project_path(team: @team), :class => 'btn btn-primary project-btn', :id => "new-project-btn", remote: true %>
        <br>
        <br>

        <h2>Members</h2>
          <table class="table table-hover">
            <thead>
              <th>Name</th>
              <th>Email</th>
            </thead>
            <tbody>
              <% @team.members.each do |member| %>
                <tr id="team_<%= @team.id %>_member_<%= member.id %>">
                  <td><%= member.full_name %></td>
                  <td><%= member.email %></td>
                  <% unless member == current_user %>
                    <% if @team.owner == current_user %>
                      <td><%= link_to "Remove Member", "/membership/#{member.memberships.where(joinable_id: @team.id, joinable_type: "Team").first.id}/remove_team", method: :delete, remote: true %></td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

// Tabbed submission
$('#team_name').keydown(function(e) {
  if (e.keyCode === 9) {
      $('#team_name').submit();
  }
});

// Click outside submission
$('#team_name').keydown(function() {
  $("#team_name").bind( "clickoutside", function(event){
    $('#team_name').submit();
  });
})

</script>
