<div class="container">
  <div class="row">
    <div class="span12">
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% end %>
      <div class="terrible_form">
        <h2>Add Team Member.</h2>
        <%= form_for @membership, url: { :action => "create_team_membership" } do |f| %>

          <%= f.text_field :user, :placeholder => "User's Email" %>
          <br>
          <%= f.hidden_field :team, :value => @team.id %>

          <%= f.submit("Add Member", :class => "btn btn-success new-project-btn") %>

        <% end %>
      </div>

    </div>
  </div>
</div>
