<div class="container">
  <div class="row">
    <div class="span12">
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% end %>
      <div class="terrible_form">
        <h2>Add <% if @role == "collaborator" %>Collaborators.<% else %>Client.<% end %></h2>
        <%= form_for @membership do |f| %>

          <%= f.text_field :user, :placeholder => "User's Email" %>
          <br>
          <%= f.hidden_field :project, :value => @project.id %>
          <%= f.hidden_field :role, :value => @role %>

          <% if @role == "collaborator" %>
            <%= f.submit("Add Collaborator", :class => "btn btn-success new-project-btn") %>
          <% else %>
            <%= f.submit("Add Client", :class => "btn btn-success new-project-btn") %>
          <% end %>

        <% end %>
      </div>

    </div>
  </div>
</div>
