<td><%= link_to "#{@story.title}", edit_project_user_story_path(@project, @story) %></td>
<td><%= @story.story %></td>
<td><%= @story.estimated %></td>
<td><%= @story.complexity %></td>
<td><%= @story.assign_button %></td>
<td><%= @story.state_button %></td>
<td><%= link_to "Delete", project_user_story_path(@project, @story), method: :delete, remote: true %></td>

