<tr id="user_story_<%= @user_story.id %>">
  <td><%= link_to "#{@user_story.title}", edit_project_user_story_path(@project, @user_story), remote: true, :id => "user_story_link_#{story.id}" %></td>
  <td><%= @user_story.assign_button %></td>
  <td><%= @user_story.state_button %></td>
  <td><%= link_to "Delete", project_user_story_path(@project, @user_story), method: :delete, remote: true %></td>
</tr>
