<div class="container">
  <div class="row">
    <div class="span12">
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% end %>
        <h2>Welcome to Terrible Tracker</h2>
        <% unless current_user.team_invitations.empty? %>
          <%= render '/projects/team_invitations' %>
        <% end %>
        <% if current_user.active_teams.empty? %>
          <%= render '/projects/welcome_page' %>
        <% else %>
          <h2>Recent Activity</h2>
          <table class="table table-hover" id="user-activities-table">
            <%= render '/activities/index' %>
          </table>
        <% end %>
        <%= paginate @activities, remote: true %>
        <%= link_to "Create Team", new_team_path, :class => "btn btn-primary homepage-btn", remote: true %>

    </div>
  </div>
</div>
