<div class="container">
  <div class="row">
    <div class="span12">
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% end %>
      <% @users.each do |user| %>
        <span class="gravatar-small"><%= user.gravatar_small %></span>
      <% end %>
      <%= form_for @project, remote: true do |f| %>
        <%= f.text_field :title, placeholder: "Title", :class => "edit-project" %>
      <% end %>
      <%= link_to "New Story", new_project_user_story_path(@project), :class => 'btn btn-primary collaborator-btn', :id => "new-story-btn", remote: true %>


      <div class="project_budget">
        <%= @project.budget %>
      </div>
      <div class="project_weekly_rate">
        <%= @project.weekly_rate %>
      </div>
        <br>
        <br>
        <%= render '/user_stories/list_user_stories' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$('#project_title').keydown(function(e) {
  if (e.keyCode === 9) {
      $('#project_title').submit();
  }
});
</script>
