<div class="container">
  <div class="row">
    <div class="span12">
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% end %>
      <h2>
        <%= @project.title %>
      </h2>
      <div class="project_description">
        <%= @project.description %>
      </div>
      <div class="project_budget">
        <%= @project.budget %>
      </div>
      <div class="project_weekly_rate">
        <%= @project.weekly_rate %>
        <br>
        <br>
        <%= render '/user_stories/list_user_stories' %>

        <%= button_to "Add Story", new_project_user_story_path(@project), :class => 'btn btn-primary', method: "get" %>
        </div>
      </div>
    </div>
  </div>
</div>
