<div class="container">
  <div class="row">
    <div class="span12">
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% end %>
      <h2><%= @project.title %></h2>
      <% if @project.team %>
        <h3><%= @project.team.name %></h3>
      <% else %>
        <%= link_to "Add to Team", add_project_to_team_path(project: @project), :class => 'btn btn-primary', method: "get" %>
      <% end %>
      <div class="project_description">
        <%= @project.description %>
      </div>
      <div class="project_budget">
        <%= @project.budget %>
      </div>
      <div class="project_weekly_rate">
        <%= @project.weekly_rate %>
      </div>
        <br>
        <br>
        <%= render '/user_stories/list_user_stories' %>

        <%= render '/user_stories/new_user_story_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
