<div id="team_sidebar_<%= @team.id %>">
    <!-- ################# Team ###################### -->
  <%= form_tag(team_path(@team), :class => "team_sidebar", :id => "team_sidebar_#{@team.id}", remote: true) do %>
    <%= label_tag("team_#{@team.id}", :class => "checkbox checked") do %>
      <span class="icon"></span>
      <span class="icon-to-fade"></span>
      <%= check_box_tag "team_#{@team.id}", "#{@team.name}", false, :id => "team_#{@team.id}", :class => "team_checkbox", checked: "checked", data: {toggle: "checkbox"} %>
      <%= hidden_field_tag :id, "#{@team.id}" %>
      <span id="team_name_<%= @team.id %>"><%= @team.name %><img src="/assets/25.gif" id="team-loader-<%= @team.id %>" class="team-loader"></span>
      <script>
        $('#team_name_<%= @team.id %>').click(function() {
          $('#team-loader-<%= @team.id %>').show();
        });
          $('#team_sidebar_<%= @team.id %>').hover(function() {
          $('#team-destroy-icon-<%= @team.id %>').show();
        }, function () {
          $('#team-destroy-icon-<%= @team.id %>').hide();
        });
      </script>
        <% if current_user == @team.owner %>
          <%= link_to(team_path(@team), method: :delete, remote: true, confirm: "Are you sure you want to delete #{@team.name}?", :class => "destroy-team-link") do %>
              <img src="http://files.brettshollenberger.com/terrible-tracker/x-icon.svg" type="image/svg+xml" class="x-icon" id="team-destroy-icon-<%= @team.id %>">
          <% end %>
        <% end %>
    <% end %><!-- End label_tag -->
    <%= submit_tag "Submit" %>
  <% end %><!-- End team_sidebar form -->

<script>
  $('.team-loader').hide();
  $('.project-loader').hide();
  $('.x-icon').hide();
</script>
