<%= link_to "<span class='terrible'>terrible</span><br><span class='tracker'><h1>TRACKER</h1></span>".html_safe, homepage_path, :class => "logo", remote: true %>
<div class="todo-search">
  <input class="todo-search-field" type="search" value="" placeholder="Search">
</div>
<br>
<% if current_user %>
  <div id="user-specific-navbar">
    <% current_user.active_teams.each do |team| %>
      <div id="team_sidebar_<%= team.id %>">
  <!-- ################## Team ######################## -->
        <%= form_tag(team_path(team), :class => "team_sidebar", :id => "team_sidebar", remote: true) do %>
          <%= label_tag("team_#{team.id}", :class => "checkbox") do %>
            <span class="icon"></span>
            <span class="icon-to-fade"></span>
            <%= check_box_tag "team_#{team.id}", "#{team.name}", false, :id => "team_#{team.id}", :class => "team_checkbox", data: {toggle: "checkbox"} %>
            <%= hidden_field_tag :id, "#{team.id}" %>
            <span id="team_name_<%= team.id %>"><%= team.name %>
              <img src="/assets/25.gif" id="team-loader-<%= team.id %>" class="team-loader">
            </span>
            <script>
              $('#team_name_<%= team.id %>').click(function() {
                $('#team-loader-<%= team.id %>').show();
              });
              $('#team_sidebar_<%= team.id %>').hover(function() {
                $('#team-destroy-icon-<%= team.id %>').show();
                },
                function () {
                  $('#team-destroy-icon-<%= team.id %>').hide();
                }
              );
            </script>
              <% if current_user == team.owner %>
                <%= link_to(deactivate_team_path(team), remote: true, confirm: "Are you sure you want to deactivate #{team.name}?", :class => "destroy-team-link") do %>
                  <img src="http://files.brettshollenberger.com/terrible-tracker/x-icon.svg" type="image/svg+xml" class="x-icon" id="team-destroy-icon-<%= team.id %>">
                <% end %>
              <% end %>
          <% end %><!-- End label_tag -->
          <%= submit_tag "Submit" %>
        <% end %><!-- End team_sidebar form -->
      </div><!-- End Team Sidebar div -->
      <div id="projects_sidebar_<%= team.id %>">
        <% team.projects.each do |project| %>
          <div id="team_project_sidebar_<%= project.id %>">
      <!-- ################# Projects ###################### -->
            <%= form_tag("/projects/#{project.id}", :class => "project_sidebar", :id => "project_sidebar_#{team.id}", remote: true) do %>
              <%= label_tag("project_#{project.id}", :class => "checkbox nested_project") do %>
                <span class="icon"></span>
                <span class="icon-to-fade"></span>
                <%= check_box_tag "project_#{project.id}", "#{project.title}", false, :id => "project_#{project.id}", data: {toggle: "checkbox"}, :class => "project_checkbox" %>
                <%= hidden_field_tag :id, "#{project.id}" %>
                <span id="project_title_<%= project.id %>"><%= project.title %><img src="/assets/25.gif" id="project-loader-<%= project.id %>" class="project-loader"></span>
                <script>
                  $('#project_title_<%= project.id %>').click(function() {
                    $('#project-loader-<%= project.id %>').show();
                  });
                  $('#team_project_sidebar_<%= project.id %>').hover(function() {
                    $('#project-destroy-icon-<%= project.id %>').show();
                    },
                    function () {
                      $('#project-destroy-icon-<%= project.id %>').hide();
                    }
                  );
                </script>
                  <%= link_to(project_path(project), method: :delete, remote: true, confirm: "Are you sure you want to delete #{project.title}?", :class => "destroy-project-link") do %>
                    <img src="http://files.brettshollenberger.com/terrible-tracker/x-icon.svg" type="image/svg+xml" class="x-icon" id="project-destroy-icon-<%= project.id %>">
                  <% end %>
              <% end %><!-- End label_tag -->
              <%= submit_tag "Submit" %>
            <% end %><!-- End project_sidebar form -->
          </div><!-- End team_project_sidebar div -->
        <% end %><!-- End team.projects.each -->
      </div><!-- End Project sidebar div -->
    <% end %><!-- End active_teams.each -->
  </div>
<br>
<!-- ################# New Team #################### -->
  <div id="new_team_link">
    <%= link_to "New Team", new_team_path, :class => "btn btn-block profile", remote: true, :id => "new-team-btn" %>
  </div>
  <br>
<!-- ################## Login ###################### -->
<%= link_to "Edit Profile", edit_user_registration_path(user: current_user), :class => "btn btn-block profile", remote: true %><br>
<%= link_to "Logout", logout_path, :class => "btn btn-block profile", :id => "logout-btn" %>
<% end %><!-- End if current_user -->

<script>
jQuery.fn.submitOnCheck = function() {
  this.find('input[type=submit]').remove();
  this.find('input[type=checkbox]').click(function() {
    $(this).closest('form').submit();
  });
  return this;
};

$('.team_sidebar').submitOnCheck();

$('.project_sidebar').submitOnCheck();

$('.team-loader').hide();
$('.project-loader').hide();
$('.x-icon').hide();

</script>
