<% @team.projects.order('created_at').each do |project| %>
  <div id="team_project_sidebar_<%= project.id %>">
<!-- ################# Projects ###################### -->
    <%= form_tag("/projects/#{project.id}", :class => "project_sidebar", :id => "project_sidebar_#{team.id}", remote: true) do %>
      <%= label_tag("project_#{project.id}", :class => "checkbox nested_project") do %>
        <span class="icon"></span>
        <span class="icon-to-fade"></span>
        <%= check_box_tag "project_#{project.id}", "#{project.title}", false, :id => "project_#{project.id}", data: {toggle: "checkbox"}, :class => "project_checkbox" %>
        <%= hidden_field_tag :id, "#{project.id}" %>
        <span id="project_title_<%= project.id %>"><%= project.title %><img src="/assets/25.gif" id="project-loader-<%= project.id %>" class="project-loader"></span>
        <script>
          $('#project_title_<%= project.id %>').click(function() {
            $('#project-loader-<%= project.id %>').show();
          });
          $('#team_project_sidebar_<%= project.id %>').hover(function() {
            $('#project-destroy-icon-<%= project.id %>').show();
            },
            function () {
              $('#project-destroy-icon-<%= project.id %>').hide();
            }
          );
        </script>
          <%= link_to(deactivate_project_path(project), remote: true, confirm: "Are you sure you want to deactivate #{project.title}?", :class => "destroy-project-link") do %>
            <img src="http://files.brettshollenberger.com/terrible-tracker/x-icon.svg" type="image/svg+xml" class="x-icon" id="project-destroy-icon-<%= project.id %>">
          <% end %>
      <% end %><!-- End label_tag -->
      <%= submit_tag "Submit" %>
    <% end %><!-- End project_sidebar form -->
  </div><!-- End team_project_sidebar div -->
<% end %><!-- End team.projects.each -->

<script>
  $('.team-loader').hide();
  $('.project-loader').hide();
</script>
