<!DOCTYPE html>
<html>
<head>
  <title>Terrible Tracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="row-fluid">
    <div class="span3" id="sidebar">
      <div class="inner-sidebar">
        <%= link_to "<span class='terrible'>terrible</span><br><span class='tracker'><h1>TRACKER</h1></span>".html_safe, root_path, :class => "logo" %>
        <div class="todo-search">
          <input class="todo-search-field" type="search" value="" placeholder="Search">
        </div>
        <br>
        <% if current_user %>
          <% current_user.active_teams.each do |team| %>
        <!-- ################## Teams ######################## -->
            <%= form_tag("/show_projects", :class => "team_sidebar", :id => "team_sidebar", remote: true) do %>
              <%= label_tag("team_#{team.id}", :class => "checkbox") do %>
                <%= check_box_tag "team_#{team.id}", "#{team.name}", false, :id => "team_#{team.id}", data: {toggle: "checkbox"} %>
                <%= hidden_field_tag :id, "#{team.id}" %>
                <%= team.name %>
              <% end %>
              <%= submit_tag "Submit" %>
            <% end %>
        <!-- ################# Projects ###################### -->
            <div class="projects_sidebar">
              <% team.projects.each do |project| %>
                <div class='projects_sidebar_<%= team.id %>'>
                  <%= form_tag("/show_project", :class => "project_sidebar", :id => "project_sidebar", remote: true) do %>
                    <%= label_tag("project_#{project.id}", :class => "checkbox") do %>
                      <%= check_box_tag "project_#{project.id}", "#{project.title}", false, :id => "project_#{project.id}", data: {toggle: "checkbox"} %>
                      <%= hidden_field_tag :id, "#{project.id}" %>
                      <%= project.title %>
                    <% end %>
                    <%= submit_tag "Submit" %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %><br>
        <!-- ################## Login ###################### -->
        <%= link_to "Edit Profile", edit_user_registration_path(user: current_user), :class => "btn btn-block profile" %><br>
        <%= link_to "Logout", logout_path, :class => "btn btn-block profile" %>
        <% end %>
      </div>
    </div>
    <div class="span9" id="body-main"><%= yield %></div>
  </div>

</body>
</html>
