<!DOCTYPE html>
<html>
<head>
  <title>Terrible Tracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="row-fluid">
    <div class="span3" id="sidebar">
      <div class="inner-sidebar">
        <span class="terrible">terrible</span><br><span class="tracker"><h1>TRACKER</h1></span>
        <div class="todo-search">
          <input class="todo-search-field" type="search" value="" placeholder="Search">
        </div>
        <br>
        <% if current_user %>
        <!-- ################## Teams ######################## -->
          <% current_user.teams.each do |team| %>
          <label class="checkbox" for="checkbox1">
            <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
            <%= team.name %>
          </label>
        <!-- ################# Projects ###################### -->
            <% team.projects.each do |project| %>
              <label class="checkbox" for="checkbox2">
              <input type="checkbox" value="" id="checkbox2" data-toggle="checkbox">
              <%= project.title %>
            </label>
            <% end %>
          <% end %>
        <!-- ################## Login ###################### -->
          <select name="user_actions" class="select-block span12 terrible-dropdown">
            <option value="X-Men" selected="selected"><%= current_user.full_name %></option>
            <option value="0"><%= link_to "Profile", edit_user_registration_path(user: current_user) %></option>
            <option value="1"><%= link_to "Logout", logout_path %></option>
          </select>
        <% end %>
      </div>
    </div>
    <div class="span9" id="body-main"><%= yield %></div>
  </div>



</body>
</html>
