<!DOCTYPE html>
<html>
<head>
  <title>Terribletracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <!-- NAVBAR ================================================== -->
  <div class="navbar-wrapper">
    <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
    <div class="container">

      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Terrible Tracker", root_path, :class => "brand" %>
          <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
          <div class="nav-collapse collapse">
            <ul class="nav">
              <% if current_user %>
                <% if current_page?(projects_path) %>
                  <li class="active">
                <% else %>
                  <li>
                <% end %>
                  <%= link_to "#{current_user.first_name}'s Projects", projects_path %>
                </li>
                <% if current_page?(new_project_path) %>
                  <li class="active">
                <% else %>
                  <li>
                <% end %>
                  <%= link_to "New Project", new_project_path %>
                </li>
                <% if @project && !@project.memberships.empty? %>
                  <% if current_page?(project_path(@project)) %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li>
                          <%= link_to "Add Collaborator", new_membership_path(project: @project) %>
                        </li>
                      </ul>
                    </li>
                  <% end %>
                <% end %>
                <li><%= link_to "Logout", logout_path %></li>
              <% else %>
                <li><%= link_to "Signin", login_path %></li>
              <% end %>
              <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div><!-- /.navbar-inner -->
      </div><!-- /.navbar -->

    </div> <!-- /.container -->
  </div><!-- /.navbar-wrapper -->

  <div class="container-body">

    <%= yield %>

  </div>

</body>
</html>
